/* Media query for screens smaller than 1280px */
@media screen and (max-width: 1279.98px) {
    header {
        padding: 20px 32px 20px 32px;
    }

    section:not(#hero) {
        padding: 96px 32px;
    }

    .row {
        gap: 48px;
    }

    .column {
        gap: 32px;
        flex-wrap: wrap;
    }

    .header__row {
        flex-wrap: wrap;
    }

    .menu {
        flex: 0 0 100%;
        flex-direction: column;
        align-items: center;
        order: 3;
        transition: max-height 0.5s ease;
        max-height: 0;
        overflow: hidden;
        gap: 8px;
    }

    .menu__wrap-button {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 8px;
    }

    .hero__gradient {
        top: 75px;
        left: 25%;
    }

    .hero {
        padding: 128px 32px 32px 32px;
    }

    .hero__row {
        flex-wrap: wrap;
    }

    .hero__column {
        align-items: center;
    }

    .hero__heading {
        text-align: center;
    }
    
    .hero__subheading {
        width: 100%;
        max-width: 528px;
        text-align: center;
    }

    .features__container__column {
        flex-direction: column;
    }

    .team__column {
        flex-wrap: wrap;
    }

    .testimonial__content__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
    }

    .subtitle-ca {
        max-width: 640px;
        gap: 16px;
    }
    
    .subtitle-ca__content {
        max-width: 704px;
        gap: 16px;
    }

    .subtitle-la__content__title {
        text-align: center;
    }
    
    .subtitle-la__content__text {
        text-align: center;
    }
}

/* Media query for screens smaller than 954px */
@media screen and (max-width: 953.98px) {
    .cta__row {
        flex-wrap: wrap;
        gap: 64px
    }

    .cta__image {
        flex-basis: calc(50%);
        order: 1;
    }
    
    .cta__column {
        flex-basis: calc(50%);
    }
}

/* Media query for screens smaller than 525px */
@media screen and (max-width: 524.98px) {
    header {
        padding: 20px 16px 20px 16px;
    }

    section:not(#hero) {
        padding: 64px 16px;
    }

    .container {
        padding: 0px;
    }
    
    .hero__gradient {
        top: 65px;
        left: 50px;
    }

    .hero__gradient__ellipse1 {
        width: 157px;
        height: 157px;
        border-radius: 157px;
        filter: blur(62px);
    }
    
    .hero__gradient__ellipse2 {
        left: 44px;
        width: 157px;
        height: 157px;
        border-radius: 157px;
        filter: blur(62px);
    }
    
    .hero {
        padding: 64px 16px;
    }
    
    .hero__heading {
        font-size: 2.5rem; /* 40px */
        font-weight: 600;
        line-height: 48px;
    }

    .hero__subheading {
        font-size: 1rem; /* 16px */
        font-weight: 400;
        line-height: 28px;
    }

    .hero__button {
        flex: 1 0 0;
        align-self: stretch;
    }

    .advantage-column {
        padding: 16px 0;
    }

    .faq__content__question__text {
        font-size: 1rem; /* 16px */
        font-weight: 500;
        line-height: 28px;
    }
    
    .faq__content__answer {
        font-size: 0.875rem; /* 14px */
        font-weight: 400;
        line-height: 24px;
    }

    .testimonial__content__text {
        font-size: 20px;
        line-height: 24px; /* 120% */
    }

    .subtitle-ca {
        max-width: 343px;
        gap: 32px;
    }

    .subtitle-ca__content {
        max-width: 704px;
        gap: 16px;
    }

    .subtitle-ca__content__title,
    .subtitle-la__content__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 125% */
    }

    .subtitle-ca__content__text,
    .subtitle-la__content__text {
        font-size: 1rem; /* 16px */
        font-weight: 400;
        line-height: 28px;
    }
}

/* Media query for screens smaller than 864px */
@media screen and (max-width: 863.98px) {
    .advantage-column:nth-child(n+4) {
        display: none;
    }
}

/* Media query for screens smaller than 675px */
@media screen and (max-width: 674.98px) {
    #test__br {
        display: none;
    }
}

/* Media query for screens smaller than 586px */
@media screen and (max-width: 585.98px) {
    #adv__br {
        display: none;
    }
}

/* Media query for screens smaller than 327px */
@media screen and (max-width: 326.98px) {
    #test__br-yvd {
        display: initial;
    }
}