/* Media query for screens smaller than 1345px */
@media screen and (max-width: 1344.98px) {
    .swiper-container {
        margin: 0;
    }
}

/* Media query for screens smaller than 1280px */
@media screen and (max-width: 1279.98px) {
    header {
        padding: 20px 32px 20px 32px;
    }

    section:not(#hero) {
        padding: 96px 32px;
    }

    .row {
        gap: 48px;
    }

    .column {
        gap: 32px;
        flex-wrap: wrap;
    }

    .header__row {
        flex-wrap: wrap;
    }

    .menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex: 0 0 100%;
        flex-direction: column;
        align-items: center;
        order: 3;
        gap: 8px;
        transition: opacity 0.1s linear, visibility 0.1s linear;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .menu.active {
        opacity: 1;
        visibility: visible;
    }

    .menu__wrap-button {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 8px;
    }

    .hero__gradient {
        top: 75px;
        left: 25%;
    }

    .hero {
        padding: 128px 32px 32px 32px;
    }

    .hero__grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 2fr !important;
        grid-template-areas:
            "content"
            "image" !important;
    }

    .hero__row {
        flex-wrap: wrap;
    }

    .hero__column {
        padding: 0;
        align-items: center;
    }

    .hero__heading {
        text-align: center;
    }

    .hero__subheading {
        width: 100%;
        max-width: 528px;
        text-align: center;
    }

    .features__container__column {
        flex-direction: column;
    }

    .features__column {
        align-items: center;
    }

    .hiw-content {
        flex-direction: column;
        align-items: flex-start;
    }

    #price-title__br {
        display: initial;
    }

    .pl-44 {
        padding-left: 0px;
    }

    .notifications__content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .notifications__content__text {
        text-align: center;
    }

    .team__column {
        flex-wrap: wrap;
    }

    .testimonial__content__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        /* 133.333% */
    }

    .subtitle-ca {
        max-width: 640px;
        gap: 16px;
    }

    .subtitle-ca__content {
        max-width: 704px;
        gap: 16px;
    }

    .subtitle-la__content__title {
        text-align: center;
    }

    .subtitle-la__content__text {
        text-align: center;
    }
}

/* Media query for screens smaller than 1187px */
@media screen and (max-width: 1286.98px) {
    .advantages-row {
        flex-wrap: wrap;
    }
}

/* Media query for screens smaller than 954px */
@media screen and (max-width: 953.98px) {
    .ops-card {
        flex-direction: column;
    }

    .ops-card__content__title {
        max-width: 612px;
    }

    .faq-row-g90 {
        flex-wrap: wrap;
    }

    .team__content p {
        font-size: 24px;
        line-height: 32px;
    }

    .cta__form {
        gap: 64px
    }

    .cta__image {
        flex-basis: calc(50%);
        order: 1;
    }

    .cta__column {
        flex-basis: calc(50%);
    }

    #confirm {
        padding-bottom: 36px;
    }

    .footer__content .column {
        gap: 0px;
    }
}

/* Media query for screens smaller than 864px */
@media screen and (max-width: 863.98px) {
    #hero-ll {
        padding: 0px 80px 0px 80px !important;
    }

    .adv_nth .advantage-column:nth-child(n+4) {
        display: none;
    }

    .ops-card__content__bullet-points {
        flex-direction: column;
        align-items: start;
        align-self: center;
    }

    .cta__image-container {
        width: auto;
        order: 1;
    }

    .hero__button-group {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        
    }
}

/* Media query for screens smaller than 675px */
@media screen and (max-width: 674.98px) {
    #test__br {
        display: none;
    }
}

@media screen and (max-width: 655.98px) {
    .hero__grid {
        grid-template-rows: 1fr 1.5fr !important;
    }

    .notifications__content__text {
        font-size: 24px;
        line-height: 32px;
    }

}

/* Media query for screens smaller than 586px */
@media screen and (max-width: 585.98px) {
    #adv__br {
        display: none;
    }
}

@media screen and (max-width: 560.98px) {
    .hero__grid {
        grid-template-rows: 1fr 1.3fr !important;
    }
}

/* Media query for screens smaller than 525px */
@media screen and (max-width: 524.98px) {
    header {
        padding: 20px 16px 20px 16px;
    }

    section:not(#hero) {
        padding: 64px 16px;
    }

    .container {
        padding: 0px;
    }

    .hero__gradient {
        top: 65px;
        left: 50px;
    }

    .hero__gradient__ellipse1 {
        width: 157px;
        height: 157px;
        border-radius: 157px;
        filter: blur(62px);
    }

    .hero__gradient__ellipse2 {
        left: 44px;
        width: 157px;
        height: 157px;
        border-radius: 157px;
        filter: blur(62px);
    }

    .hero {
        padding: 64px 16px;
    }

    .hero__grid {
        grid-template-rows: 1fr 1.5fr !important;
    }

    .hero__heading {
        font-size: 2.5rem;
        /* 40px */
        font-weight: 600;
        line-height: 48px;
    }

    .hero__subheading {
        font-size: 1rem;
        /* 16px */
        font-weight: 400;
        line-height: 28px;
    }

    .hero__button {
        flex: 1 0 0;
        align-self: stretch;
    }

    .hero__button-secondary {
        flex: 1 0 0;
        align-self: stretch;
    }

    .hero-ll__content__title {
        font-size: 2.5rem;
        /* 40px */
        font-weight: 600;
        line-height: 48px;
    }

    .hero-ll__content__text {
        font-size: 1rem;
        /* 16px */
        font-weight: 400;
        line-height: 28px;
    }

    .advantage-column {
        padding: 16px 0;
    }

    .hiw-content__title {
        width: 100%;
        font-size: 3.5rem; /* 56px */
        line-height: 68px;
    }

    .ops-card {
        padding: 24px 12px;
    }

    .notifications__form {
        align-self: stretch;
        align-items: stretch;
        flex-direction: column;
    }

    .faq__content__question__text {
        font-size: 1rem;
        /* 16px */
        font-weight: 500;
        line-height: 28px;
    }

    .faq__content__answer {
        font-size: 0.875rem;
        /* 14px */
        font-weight: 400;
        line-height: 24px;
    }

    .testimonial__content__text {
        font-size: 20px;
        line-height: 24px;
        /* 120% */
    }

    .swiper-container {
        padding: 0 16px;
    }

    .cta__form {
        width: 100%;
        min-width: auto;
    }

    .cta-subtitle {
        font-size: 1.25rem; /* 20px */
        line-height: 24px;
    }

    .subtitle-ca {
        max-width: 343px;
        gap: 32px;
    }

    .subtitle-ca__content {
        max-width: 704px;
        gap: 16px;
    }

    .subtitle-ca__content__title,
    .subtitle-la__content__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        /* 125% */
    }

    .adv-card__content__text,
    .subtitle-ca__content__text,
    .subtitle-la__content__text {
        font-size: 1rem;
        /* 16px */
        font-weight: 400;
        line-height: 28px;
    }

    table {
        width: 1000px;
    }

    .sub-table__head-title {
        font-size: 1.25rem;
        line-height: 24px;
    }

    #business-max {
        font-size: 1rem;
        line-height: 24px;
    }
}

/* Media query for screens smaller than 327px */
@media screen and (max-width: 326.98px) {
    #test__br-yvd {
        display: initial;
    }

    .price-container__price-row__price {
        font-size: 3.5rem;
    }
}